@import '../../styles/mixins';

.container {
  width: 100%;
  height: 100%;
  background-color: $background;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.search_container {
  width: 100%;
  position: relative;
  padding: 10px;
}

.results_container {
}
