@import "../../styles/mixins";

.amplify-tabs-item[data-state="active"] {
  border-color: $highlight-dark;
  color: $highlight-dark;
}

.amplify-button--primary {
  background-color: $highlight;
  color: black;

  &:hover {
    background-color: $highlight-dark;
    color: white;
  }
}
