@import "../../styles/mixins";

.container {
  position: sticky;
  height: $search_bar_visible_height;
  overflow: visible;
  top: calc(
    var(--header-height) + var(--notice-bar-height) + $layout_bar_height - 1px
  );
  width: 100%;
  gap: 10px;
  z-index: 2;
  pointer-events: none;

  @include respond-to("small") {
    z-index: 3;
    // position: fixed;
    // height: auto;
    top: calc(var(--header-height) + var(--notice-bar-height) - 1px);
    // left: var(--profile-bar-width);
    // width: calc(100vw - var(--profile-bar-width));
    width: 100%;
  }
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-bottom: $border;
  height: auto;
  pointer-events: all;
  transition: transform 0.3s ease-in-out;
  transform: translateY(calc(-100% + $search_bar_visible_height));

  &[class~="enter-active"] {
    transform: translateY(0px);
  }

  &[class~="enter-done"] {
    transform: translateY(0px);
  }
}

.menu_content {
  height: 300px;
  width: 100%;
  padding: 10px;
  opacity: 0;
  background-color: $background;

  div[class~="enter-active"] > & {
    opacity: 1;
  }

  div[class~="enter-done"] > & {
    opacity: 1;
  }

  div[class~="exit-active"] > & {
    opacity: 1;
  }
}

.visible_bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  background-color: $background;
  height: $search_bar_visible_height;
  border-top: $border;
  margin-top: -1px;
  padding: 5px;
  gap: 5px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  clip-path: inset(0px 0px -15px 0px);
}

.search_input {
  flex: 1;
  border-radius: 5px;
  border: $border;
  height: 100%;
  outline: none;
  padding-left: 30px;
  font-family: "FT88";
  font-size: 15px;
  vertical-align: bottom;
}

.search_icon {
  position: absolute;
  top: 10px;
  left: 13px;
  font-size: 20px;
  opacity: 0.5;
}

.filter_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
  border: $border;
  height: 100%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 3px;

  &:hover {
    background-color: $foreground;
    color: $background;
  }
}

@keyframes fadeleft {
  from {
    opacity: 0;
    transform: translateX(20px) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px) translateY(100%);
  }
}

.search_contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: $background;
  position: absolute;
  bottom: -5px;
  right: calc(16px + 5px);
  transform: translateY(100%);
  border: $border;
  gap: 5px;
  color: $foreground2;
  animation: fadeleft 0.3s ease-in-out;
  letter-spacing: -1px;

  & > svg {
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
  }

  & > svg:hover {
    transform: rotate(10deg);
  }
}
