@import '../../styles/mixins';

$completion_bar_height: 0px;

.container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload_container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  &[class~='preview-enter-done'] {
    pointer-events: none;
  }

  @include respond-to('small') {
    flex-direction: row;
    height: calc(
      100vh - var(--header-height) - var(--notice-bar-height) -
        $completion_bar_height
    );
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
  }
}

.upload_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
  min-height: calc(
    100vh - var(--header-height) - var(--notice-bar-height) -
      $completion_bar_height
  );
  z-index: 1;

  @include respond-to('small') {
    height: 100%;
    width: auto;
    max-width: 700px;
    flex: 1;
    overflow: hidden;
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.input_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 10px;
  padding-top: 10px;
  position: relative;
  margin-top: 30px;
  background-color: white;
  border: 1px solid $foreground;
  border-bottom: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  animation: fadeup 0.4s ease-in-out;
  transition: transform 0.7s ease-in-out;

  div[class~='preview-enter-active'] & {
    transform: translateY(calc(100% - 10px));
  }

  div[class~='preview-enter-done'] & {
    transform: translateY(calc(100% - 10px));
  }

  @include respond-to('small') {
    // overflow: hidden;
    margin-top: 0px;
    max-height: calc(100% - 160px);
  }
}

.input_inner_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0px;

  @include respond-to('small') {
    overflow: scroll;
    height: 100%;
  }
}

.input_inner_container_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include respond-to('small') {
    overflow: scroll;
    height: 100%;
  }
}

.input_outline {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  // border: 2px solid $highlight-dark;
  pointer-events: none;
}

.input_form_title {
  font-family: 'FT88 Serif';
  letter-spacing: 1px;
  position: absolute;
  top: 5px;
  font-weight: 700;
  left: 5px;
  color: $foreground;
  transform: translateY(-100%);
  background-color: white;
  padding: 5px;
  padding-top: 7px;
  border: $border;
  transition: transform 0.1s ease-in-out;
  pointer-events: all;
  cursor: pointer;
  z-index: 1;

  &:hover {
    transform: translateY(-100%) scale(1.05);
  }
}

.preview_show_button {
  font-family: 'FT88 Serif';
  letter-spacing: 1px;
  position: absolute;
  top: 5px;
  font-weight: 700;
  right: 5px;
  transform: translateY(-100%);
  background-color: $foreground;
  border: 1px solid white;
  color: $background;
  padding: 5px;
  padding-top: 7px;
  transition: transform 0.1s ease-in-out;
  pointer-events: all;
  cursor: pointer;
  z-index: 1;
  &:hover {
    transform: translateY(-100%) scale(1.05);
  }

  &[class~='disabled'] {
    color: $background2;
    border: 1px solid #d0d0d0;
  }
}

.annotation {
  width: 100%;
  opacity: 0.6;
  font-size: 11px;
  border-bottom: $border;
  margin-top: 10px;
  margin-bottom: 5px;
  color: black;
}

.title_input {
  border: none;
  font-size: 30px;
  outline: none;
  font-weight: 700;
  white-space: wrap;
  width: 100%;
  overflow-x: scroll;
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
  border-radius: 5px;
  border: none;
  flex-shrink: 0;
  font-family: 'FT88 Gothic';
}

.description_input {
  position: relative;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  font-size: 15px;
  font-family: 'FT88';
  flex-shrink: 0;

  @include respond-to('small') {
    max-height: 300px;
  }
}

.date_input {
  font-size: 17px;
  opacity: 0.4;
}

.completion_bar {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: $background;
  color: white;
  padding: 5px 10px;
  height: $completion_bar_height;
  border-top: $border;
  border-bottom: $border;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: $completion_bar_height;
  gap: 10px;
  z-index: 2;
  white-space: nowrap;
}
.tag_select {
  border: none;
  width: 100%;
  margin-top: 5px;
  min-width: 80px;
}

.difficulty_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.difficulty_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-size: 14px;

  flex: 1;
}

.dimensions_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 5px;
}

.dimension_input {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 7px;
  width: 50px;
  margin-top: 5px;
}

.dimension_select {
  border: none;
  margin-top: 5px;
  min-width: 80px;
  flex: 1;
}

.file_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  height: 200px;
}

.file_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  height: 100%;
  gap: 5px;
  overflow: hidden;

  &:last-of-type {
    flex: 2;
  }
}

.file_input {
  flex: 1;
  width: 100%;
  padding: 5px;
  border: $border;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.more_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;

  & > label {
    font-size: 15px;
    font-style: italic;
    color: #606060;
    cursor: pointer;
  }

  & > input {
    outline: none;
    font-family: 'FT88';
  }
}

.column_header {
  width: 100%;
  font-size: 15px;
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
  // border-bottom: $border;
  // gap: 5px;
  transition: transform 0.3s ease-in-out;

  div[class~='preview-enter-active'] & {
    transform: translateY(calc(-100% - 10px));
  }

  div[class~='preview-enter-done'] & {
    transform: translateY(calc(-100% - 10px));
  }
}

.back_button {
  display: table-cell;
  background-color: $background;
  border: $border;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  height: 100%;
  writing-mode: vertical-rl;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(0.95);
  }
}

.column_label {
  display: table-cell;
  background-color: $background;
  border: $border;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  flex: 1;
  padding: 10px;
  height: 100%;
  margin-left: 5px;
}

.spacer {
  flex: 1;
}

.preview_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: $foreground;
  background-image: linear-gradient($foreground2 1px, transparent 1px),
    linear-gradient(to right, $foreground2 1px, $foreground 1px);
  background-size: 20px 20px;
  overflow: hidden;
  pointer-events: all;
}

.preview_cover {
  flex: 1;
  height: 100%;
  z-index: 1;
  transition: transform 0.7s ease-in-out;
  @include grid-background;

  // div[class~="preview-enter-active"] & {
  //   transform: translateX(calc(-100%));
  // }

  div[class~='preview-enter-done'] & {
    transform: translateX(calc(-100%));
  }

  &:last-of-type {
    border-right: none;
    border-left: 2px solid $foreground;

    // div[class~="preview-enter-active"] & {
    //   transform: translateX(calc(100%));
    // }

    div[class~='preview-enter-done'] & {
      transform: translateX(calc(100%));
    }
  }
}

.preview_hidden_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: scale(0.91);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  overflow-y: scroll;

  div[class~='preview-enter-active'] & {
    opacity: 1;
  }

  div[class~='preview-enter-done'] & {
    opacity: 1;
    transform: scale(0.91) translateY(-2.5%);
  }
}

.preview_main_content {
  width: 100%;
  position: relative;

  @include respond-to('large') {
    width: auto;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
  }
}

.preview_content_container_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;

  @include respond-to('large') {
    width: auto;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
  }
}

.image_container {
  position: relative;
  height: 50vh;
  width: 100%;
  z-index: 0;
  padding: 10px;

  & span {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
}

.preview_no_image_display {
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px dashed #303030;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

.pdf_type_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: $border;
  padding: 0px 5px;
}

.preview_pdf_column {
  border-top: $border;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include respond-to('large') {
    width: 250px;
    height: 100%;
    border-top: none;
    border-left: $border;
  }
}

.pdf_preview_container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.pdf_type {
  font-weight: 700;
  cursor: pointer;
  &:last-of-type {
    flex: 0;
  }
}

.divider {
  height: 5px;
  width: 100%;
  border-bottom: $border;
  border-color: $highlight-dark;
  background-color: $highlight;

  @include respond-to('small') {
    width: 5px;
    border-bottom: none;
    border-left: $border;
    height: 100%;
  }
}

.tags_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
  gap: 5px;
  border-top: $border;
  position: relative;
  margin-top: 12px;

  &:before {
    content: 'TAGS';
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-75%);
    padding: 0px 3px;
    font-size: 10px;
    opacity: 1;
    background-color: white;
    color: #303030;
  }
}

.tag {
  border-radius: 5px;
  background-color: $highlight-dark;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  padding: 3px 5px;

  &:hover {
    transform: scale(1.05);
  }
}

.difficulty_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
  gap: 5px;
  border-top: $border;
  position: relative;
  margin-top: 12px;

  &:before {
    content: 'DIFFICULTY';
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-75%);
    padding: 0px 3px;
    font-size: 10px;
    opacity: 1;
    background-color: white;
    color: #303030;
  }
}

.completion_filler {
  flex: 1;
  height: 80%;
  margin-right: -20px;
  border: $border;
  background-color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.completion_percentage {
  background-color: $highlight;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;

  &[class~='shimmer'] {
    background: gradient(
      linear,
      left top,
      right top,
      from(blue),
      to(red),
      color-stop(0.5, #fff)
    );
    position: relative;
    background-size: 125px 100%;
    background-repeat: no-repeat;
    background-position: 0 0;

    animation: shimmer 2s linear infinite;
  }
}

.completion_percentage_label {
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateX(100%) translateY(-50%);
  color: white;
}

.submit_button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  height: auto;
  background-color: $highlight-dark;
  padding: 15px;
  color: white;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 30px;
  font-family: 'FT88 Gothic';
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  pointer-events: all;
  transform-origin: 50% 50%;
  transform: translateX(-50%);
  letter-spacing: 3px;
  z-index: 1;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: translateX(-50%) scale(1.05);
  }

  @include respond-to('small') {
    bottom: 20px;
  }
}

.confirm_backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &[class~='enter-active'] {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
  }

  &[class~='enter-done'] {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    pointer-events: all;
  }
}

.confirm_text {
  opacity: 0;
  color: white;
  max-width: 300px;
  transition: all 0.3s ease-in-out;
  text-align: center;

  & > small {
    opacity: 0.5;
  }

  div[class~='enter-done'] > & {
    opacity: 1;
  }
}

.confirm_title {
  font-size: 30px;
}
