@import './mixins';

.search_container {
  position: fixed;
  top: calc(var(--header-height) + var(--notice-bar-height));
  left: 0px;
  height: calc(100vh - var(--header-height) - var(--notice-bar-height));
  width: var(--search-bar-width);
  border-right: $border;
  background-color: $background;
  padding: 10px;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;

  @include respond-to('small') {
    transform: none;
  }
}

.search_bar {
  width: 100%;
  border-radius: 5px;
  border: $border;
  padding: 4px 10px;
}

.main_grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
  width: 100%;
  position: relative;
  @include grid-background;

  @include respond-to('small') {
    display: block;
    margin-top: 0px;
  }
}
