@import "./mixins";

.search_container {
  position: fixed;
  top: calc(var(--header-height) + var(--notice-bar-height));
  left: 0px;
  height: calc(100vh - var(--header-height) - var(--notice-bar-height));
  width: var(--search-bar-width);
  border-right: $border;
  background-color: $background;
  padding: 10px;
  transform: translateX(-100%);

  @include respond-to("small") {
    transform: none;
  }
}

.search_bar {
  width: 100%;
  border-radius: 5px;
  border: $border;
  padding: 4px 10px;
}

.main_grid {
  width: 100%;
  padding: 5px;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  & > div {
    min-width: 150px;
    min-height: 200px;
  }

  @include respond-to("xsmall") {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));

    & > div {
      min-width: 200px;
      min-height: 250px;
    }
  }

  @include respond-to("small") {
    padding-left: calc(var(--search-bar-width) + 10px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }
}
