@font-face {
  font-family: "FT88";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ft88/FT88-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FT88";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/ft88/FT88-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FT88";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ft88/FT88-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FT88 Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ft88/FT88-Gothique.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FT88 Expanded";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ft88/FT88-Expanded.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FT88 School";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ft88/FT88-School.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FT88 Serif";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ft88/FT88-Serif.ttf") format("truetype");
  font-display: swap;
}
