@import "./mixins";

.styled_container {
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  // background-image: linear-gradient($highlight 2px, transparent 2px),
  //   linear-gradient(90deg, $highlight 2px, transparent 2px),
  //   linear-gradient($highlight 1px, transparent 1px),
  //   linear-gradient(90deg, $highlight 1px, white 1px);
  // background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  // background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.page_container {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.login_page_container {
  padding: 20px 10px;
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-image: linear-gradient($highlight 2px, transparent 2px),
    linear-gradient(90deg, $highlight 2px, transparent 2px),
    linear-gradient($highlight 1px, transparent 1px),
    linear-gradient(90deg, $highlight 1px, white 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.login_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.page_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  min-height: auto;

  @include respond-to("small") {
    flex-direction: row-reverse;
    min-height: 500px;
    height: calc(100vh - var(--header-height) - var(--notice-bar-height));
  }
}

.page_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;

  &:first-of-type {
    border-left: $border;
  }

  @include respond-to("small") {
    height: 100%;
    width: auto;
    flex: 1;
  }
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  border-top: $border;
  width: 100%;
  background-color: white;
}

.continue_button {
  width: 100%;
  padding: 10px;
  background-color: $highlight;
  border: $border;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 2px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    background-color: $highlight-2;
    letter-spacing: 4px;
  }
}
