@import "./mixins";

.styled_container {
  min-height: 100%;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @include grid-background;
}

.page_container {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.page_row {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  min-height: auto;

  @include respond-to("small") {
    flex-direction: row-reverse;
    min-height: 500px;
    // height: calc(100vh - var(--header-height) - var(--notice-bar-height));
  }
}

.page_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  &:last-of-type {
    z-index: 3;
  }

  @include respond-to("small") {
    min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
    width: auto;
    flex: 1;

    &:first-of-type {
      border-left: $border;
    }

    &:last-of-type {
      max-width: 500px;
      position: sticky;
      top: calc(var(--header-height) + var(--notice-bar-height));
      bottom: 0;
    }
  }
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border-bottom: $border;
  width: 100%;
  background-color: $background;

  & h1 {
    font-size: 20px;
    letter-spacing: -1px;
  }

  & p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 15px;
  }

  & li {
    letter-spacing: -1px;
  }

  @include respond-to("xsmall") {
    & p {
      font-size: 16px;
    }
  }

  @include respond-to("small") {
    border-bottom: none;
    border-top: $border;
    // border-right: 1px solid #505050;
  }
}

.continue_button {
  width: 100%;
  padding: 10px;
  background-color: $background;
  border: 1px solid $foreground;
  color: $foreground;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 2px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    background-color: $highlight-2;
    letter-spacing: 4px;
  }
}

.main_grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
  width: 100%;
  position: relative;
  @include grid-background;

  @include respond-to("small") {
    display: block;
    margin-top: 0px;
  }
}

.divider {
  width: 100%;
  height: 14px;
  background-color: $background;
  border-bottom: $border;
  // opacity: 0.5;
  position: relative;
  overflow: hidden;
  z-index: 3;

  @include respond-to("small") {
    display: none;
    width: 15px;
    height: 100%;
    border-bottom: none;
    border-left: $border;
    writing-mode: vertical-lr;
  }

  &:after {
    content: "୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧";
    white-space: nowrap;
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.title_big {
  font-size: 40px;
  font-family: "FT88 Gothic";

  @include respond-to("xsmall") {
    font-size: 50px;
  }
}
