img.ls-blur-up-is-loading,
img.lazyload:not([src]) {
  visibility: hidden;
}

.ls-blur-up-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-family: "blur-up: auto", "object-fit: cover";
  object-fit: cover;
}

.ls-blur-up-img {
  // filter: blur(5px);
  opacity: 1;
  transition: opacity 0.5s;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
  opacity: 0;
  // filter: blur(10px);
}
