.main {
  min-height: 100vh;
  padding-top: calc(var(--header-height) + var(--notice-bar-height));
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
