@import "../../styles/mixins";

.nav_menu_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  pointer-events: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  &[class~="enter-active"] {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
  }

  &[class~="enter-done"] {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
  }

  @include respond-to("medium") {
    opacity: 0 !important;
    pointer-events: none;
  }
}

.nav_menu_container {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100vw;
  // height: calc(100vh - var(--header-height));
  top: var(--header-height);
  background-color: white;
  backdrop-filter: blur(4px);
  transform: translateY(calc(-100% + var(--notice-bar-height)));
  transition: transform 0.3s ease-in-out;

  &[class~="enter-active"] {
    transform: translateY(0px);
  }

  &[class~="enter-done"] {
    transform: translateY(0px);
  }

  @include respond-to("medium") {
    transform: translateY(calc(-100% + var(--notice-bar-height))) !important;
  }
}

.nav_menu_content {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 200px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  div[class~="enter-active"] > & {
    opacity: 1;
  }

  div[class~="enter-done"] > & {
    opacity: 1;
  }
  // border-top: $border;
  // margin-top: 15px;

  // &:before {
  //   content: "NAVIGATION";
  //   position: absolute;
  //   top: -5px;
  //   left: 13px;
  //   transform: translateY(-100%);
  //   font-size: 10px;
  // }
}

.nav_nav_column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  height: 100%;

  &:last-of-type {
    border-left: $border;
    padding: 0px 10px 10px 20px;
  }
}

.login_button {
  width: 100%;
  font-size: 15px;
  border: $border;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.signup_button {
  width: 100%;
  font-size: 15px;
  border: $border;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  background-color: $highlight;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.notice_bar {
  width: 100%;
  border-top: $border;
  border-bottom: $border;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: var(--notice-bar-height);
  padding: var(--notice-bar-vert-padding) 3px;
  font-size: calc(
    var(--notice-bar-height) - var(--notice-bar-vert-padding) * 2
  );
  line-height: 1;
  background-color: $background;

  background-image: linear-gradient($highlight 2px, transparent 2px),
    linear-gradient(90deg, $highlight 2px, transparent 2px),
    linear-gradient($highlight 1px, transparent 1px),
    linear-gradient(90deg, $highlight 1px, white 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  // background-color: #e5e5f7;
  // opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    to right,
    $highlight,
    $highlight 1px,
    $background 1px,
    $background
  );
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.notice_bar_content {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 100%;
  gap: 10px;
  overflow: hidden;
  // font-family: "FT88 Gothic";
  // animation: scrollText 10s linear infinite;
  cursor: pointer;

  @include respond-to("large") {
    // animation: scrollText 30s linear infinite;
  }

  // &:after {
  //   white-space: nowrap;
  //   content: "┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘ ┌( ಠ_ಠ)┘";
  // }
}

.profile_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @include respond-to("xsmall") {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.profile_picture {
  height: 70px;
  width: 70px;
  min-width: 70px;
  border-radius: 50%;
  border: $border;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  background-color: $highlight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond-to("xsmall") {
    height: 50px;
    width: 50px;
    min-width: 50px;
  }
}

.profile_name {
  text-align: center;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 1px;

  @include respond-to("xsmall") {
    text-align: left;
    width: auto;
    padding: 5px 0px;
    margin-left: 8px;
  }
}

.user_name {
  opacity: 0.6;
  font-style: italic;
}
