@import "../../styles/mixins";

.preview_pdf {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
  gap: 10px;

  @include respond-to("large") {
    flex-direction: column;
  }
}

.preview_pdf_page {
  position: relative;
  width: 100%;

  & > canvas {
    outline: 1px solid #d0d0d0;
  }

  &:last-of-type {
    &:after {
      width: 10px;
      display: none;
      position: absolute;
      top: 0px;
      right: -10px;
    }
  }
}
