.container {
  width: 100%;
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
}

.mason_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -1px; /* gutter size offset */
  width: 100% !important;
  gap: 5px;
  padding: 10px;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
}

.mason_grid_col {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}
