@import "../../styles/mixins";

.meta_container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));

  @include respond-to("small") {
    flex-direction: row;
  }
}

.container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
}

.sidebar {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-right: $border;
  top: calc(var(--header-height) + var(--notice-bar-height));
  bottom: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  clip-path: inset(0px -15px 0px 0px);
  z-index: 3;
  height: $search_bar_visible_height;
  border-bottom: $border;

  @include respond-to("small") {
    height: calc(100vh - var(--header-height) - var(--notice-bar-height));
    width: $search_bar_visible_height;
    flex-direction: column;
    border-bottom: none;
  }
}

.mason_grid {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-left: -1px; /* gutter size offset */
  width: 100% !important;
  gap: 5px;
  padding: 10px;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
}

.mason_grid_col {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  flex: 1;
  gap: 5px;
}

.loading_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  &[class~="enter-active"] {
    opacity: 1;
    pointer-events: all;
  }

  &[class~="enter-done"] {
    opacity: 1;
    pointer-events: all;
  }
}
