@import '../../styles/mixins';

.meta_container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));

  @include respond-to('small') {
    flex-direction: row;
  }
}

.container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
}

.lower_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(
    100vh - var(--header-height) - var(--notice-bar-height) -
      $search_bar_visible_height
  );
}

.sidebar {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-right: $border;
  top: calc(var(--header-height) + var(--notice-bar-height) - 1px);
  bottom: 0;
  background-color: white;
  // padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  clip-path: inset(0px -15px 0px 0px);
  z-index: 3;
  height: $layout_bar_height;
  border-bottom: $border;
  font-size: calc($layout_bar_height - 10px);

  @include respond-to('small') {
    height: calc(100vh - var(--header-height) - var(--notice-bar-height) - 1px);
    width: $layout_bar_height;
    flex-direction: column;
    border-bottom: none;
  }
}

.layout_button {
  padding: 5px;
  border-left: $border;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // font-family: "FT88 Gothic";
  font-style: italic;
  transition: all 0.2s ease-in-out;
  color: $background2;
  &:hover {
    color: $foreground2;
  }

  @include respond-to('small') {
    height: auto;
    width: 100%;
    border-left: none;
    transform: scale(-1, -1);
    border-bottom: $border;
    writing-mode: vertical-lr;
  }

  &[class~='active'] {
    color: $foreground;
  }
}

.layout_type {
  @extend .layout_button;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: calc($layout_bar_height - 15px);
  line-height: 1;
  vertical-align: -10%;
  flex: 1;

  @include respond-to('small') {
    padding: 10px 5px;
  }

  &:first-of-type {
    border: none;
  }
}

.spacer {
  border-left: $border;
  height: 100%;
  flex: 1;

  @include respond-to('small') {
    height: auto;
    width: 100%;
    border-left: none;
    border-top: $border;
  }
}

.mason_grid {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100% !important;
  gap: 5px;
  padding: 10px;
  min-height: calc(100vh - var(--header-height) - var(--notice-bar-height));
}

.mason_grid_col {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  flex-shrink: 1;

  @include respond-to('medium') {
    max-width: 33%;
  }
}

.loading_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  &[class~='enter-active'] {
    opacity: 1;
    pointer-events: all;
  }

  &[class~='enter-done'] {
    opacity: 1;
    pointer-events: all;
  }
}

.scroll_bar_container {
  width: 10px;
  height: calc(100vh - var(--header-height) - var(--notice-bar-height));
}

.scroll_outline {
  border: 1px solid $foreground;
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
}

.scroll_thumb {
  width: calc(100% + 2px);
  height: 100px;
  position: absolute;
  top: -1px;
  left: -1px;
  transition: height 0.3s ease-in-out;
  background-color: $foreground;
  border: 1px solid $foreground;
}
