@import "../../styles/mixins";

.container {
  width: 100%;
  pointer-events: all;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  z-index: 4;

  height: var(--header-height);
  padding: var(--header-vert-padding) 15px;
  padding-right: 5px;
  background-color: $background;

  @include respond-to("small") {
    padding: var(--header-vert-padding) 14px;
    gap: 10px;
  }

  @include respond-to("large") {
    gap: 20px;
  }
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  vertical-align: middle;
  font-weight: 700;
  font-size: calc(var(--header-height) - var(--header-vert-padding) * 2 - 5px);
  white-space: nowrap;
  font-style: italic;
  letter-spacing: -1px;

  @include respond-to("xsmall") {
    font-size: calc(
      var(--header-height) - var(--header-vert-padding) * 2 - 7px
    );
  }

  @include respond-to("small") {
    font-size: calc(
      var(--header-height) - var(--header-vert-padding) * 2 - 10px
    );
  }
}

.links_container {
  height: 100%;
  flex: 1;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  @include respond-to("small") {
    display: flex;
  }

  @include respond-to("large") {
    gap: 10px;
  }
}

.spacer {
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: right;
  position: relative;
  // transform: translate(11px, -11px);
  cursor: pointer;

  @include respond-to("small") {
    display: none;
  }
}

.menu_text {
  display: none;
  @include respond-to("xsmall") {
    display: block;
  }
  @include respond-to("small") {
    display: none;
  }
}

.profile_buttons {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  padding: 2px 0px;

  @include respond-to("small") {
    display: flex;
  }
}

.login_button {
  height: 100%;
  padding: 5px 10px;
  font-size: 100%;
  border: $border;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  white-space: nowrap;

  &:last-of-type {
    background-color: $foreground;
    color: $background;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.profile_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.profile_picture {
  height: calc(var(--header-height) - var(--header-vert-padding) * 2);
  width: calc(var(--header-height) - var(--header-vert-padding) * 2);
  border-radius: 50%;
  border: $border;
  // overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  background-color: $background;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $foreground;

  & > img {
    border-radius: 50%;
  }

  &:after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border: 1px solid $foreground;
    border-radius: 50%;
  }
}

.logo {
  display: flex;
  height: calc(var(--header-height) - var(--header-vert-padding) * 2 + 5px);
  width: calc(var(--header-height) - var(--header-vert-padding) * 2 + 5px);
  position: relative;
  margin-right: -5px;
  margin-left: -5px;
}

.profile_pic_image {
  width: 100%;
  height: 100%;
}
