@import "../../styles/mixins";

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
  padding-top: 0px;
  width: 100%;
  border-top: $border;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: $background;

  @media screen and (max-width: 767px) {
    padding: 20px 0 !important;
    padding-top: 0px !important;
  }
}

.divider {
  width: 100%;
  height: 14px;
  background-color: $background;
  border-bottom: $border;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  &:after {
    content: "୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧";
    white-space: nowrap;
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.footer_row {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 20px;
  height: 100%;
  position: relative;
}

.footer_col {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
  min-width: 300px;
  height: 100%;
}

.socials_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.socials_line {
  flex: 1;
  height: 1px;
  background-color: #303030;
}

.legal_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 500px;
  gap: 20px;
  margin-top: 5px;
  font-size: 13px;
}

.legal_link {
  border-bottom: $border;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.title {
  font-weight: 700;
  font-size: calc(var(--header-height) - var(--header-vert-padding) * 2 - 10px);
  font-style: italic;
  letter-spacing: -1px;
}

.credits {
  opacity: 0.5;
  font-size: 14px;

  & a {
    transition: all 0.1s ease-in-out;
    margin: 0px 5px;
    &:hover {
      letter-spacing: 1px;
      color: $highlight-dark;
    }
  }
}

.disclaimer {
  letter-spacing: -1px;
  font-size: 12px;
  opacity: 0.5;
  font-style: italic;
  text-align: center;
}

.link_grid {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  gap: 10px;
  border-left: $border;
  border-right: $border;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
  text-align: center;
}
