@import "../../styles/mixins";

[data-amplify-authenticator][data-variation="modal"] {
  background-color: white;
  background-image: linear-gradient($highlight 2px, transparent 2px),
    linear-gradient(90deg, $highlight 2px, transparent 2px),
    linear-gradient($highlight 1px, transparent 1px),
    linear-gradient(90deg, $highlight 1px, white 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.amplify-tabs-item[data-state="active"] {
  border-color: $highlight-dark;
  color: $highlight-dark;
}

.amplify-button--primary {
  background-color: $highlight;
  color: black;

  &:hover {
    background-color: $highlight-dark;
    color: white;
  }
}
