@import "../../styles/mixins";

.page_container {
  width: 100%;
  position: relative;

  @include respond-to("small") {
    height: calc(100vh - var(--header-height) - var(--notice-bar-height));
    flex-direction: row;
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  @include respond-to("small") {
    height: 100%;
    flex-direction: row;
    overflow: hidden;
  }
}

.display_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @include respond-to("small") {
    flex: 1;
    width: auto;
    height: 100%;
    border-right: $border;
    overflow-y: scroll;
    padding-top: 40px;
  }
}

.picture_column {
  width: 100%;
  border-bottom: $border;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  height: 60vh;
  padding: 0px;

  @include respond-to("small") {
    flex: 1;
    width: auto;
    height: 100%;
    border-bottom: none;
    overflow-y: scroll;
  }
}

.preview_content_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  color: #303030;
  width: 100%;
  position: relative;

  @include respond-to("xsmall") {
    padding: 20px;
    flex: 1;
    justify-content: flex-end;
  }
}

.preview_content_outline {
  position: absolute;
  border: 2px solid white;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;
}

.preview_title {
  border: none;
  font-size: 40px;
  outline: none;
  font-weight: 700;
  white-space: wrap;
  width: 100%;
  overflow-x: scroll;
  position: relative;
  border-radius: 5px;
  border: none;
  font-family: "FT88";
  letter-spacing: -3px;
  padding-left: 0px;
  margin-top: -5px;
}

.date_input {
  font-size: 17px;
  opacity: 0.4;
  font-style: italic;
}

.preview_description {
  position: relative;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  font-size: 15px;
  font-family: "FT88";
  letter-spacing: -1px;
  opacity: 0.6;
  margin-bottom: 10px;
  padding-left: 0px;

  @include respond-to("small") {
    max-height: 300px;
  }
}

.tags_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.tags_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 0px;
  gap: 5px;
  border-top: $border;
  position: relative;

  &:before {
    content: "TAGS";
    position: absolute;
    white-space: nowrap;
    top: 0px;
    left: 0px;
    transform: translateY(-75%);
    padding: 0px 3px;
    font-size: 10px;
    opacity: 1;
    background-color: white;
    color: #303030;
  }
}

.dimensions_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
  gap: 5px;
  border-top: $border;
  position: relative;
  letter-spacing: -1px;
  color: #707070;
  font-family: "FT88 School";

  &:before {
    content: "DIMENSIONS";
    position: absolute;
    white-space: nowrap;
    top: 0px;
    left: 0px;
    transform: translateY(-75%);
    padding: 0px 3px;
    font-size: 10px;
    opacity: 1;
    background-color: white;
    color: #303030;
    font-family: "FT88";
    letter-spacing: 0px;
  }
}

.tag {
  border-radius: 5px;
  background-color: $highlight-dark;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  padding: 3px 5px;
  white-space: nowrap;

  &:hover {
    transform: scale(1.05);
  }
}

.image_container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.profile_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  border-top: $border;
  padding: 10px 0px;
  margin-top: 10px;

  @include respond-to("small") {
    padding-bottom: 0px;
  }
}

.container_note {
  position: absolute;
  white-space: nowrap;
  top: 0px;
  left: 0px;
  transform: translateY(-75%);
  padding: 0px 3px;
  font-size: 10px;
  opacity: 1;
  background-color: white;
  color: #303030;
}

.profile_picture {
  min-width: 70px;
  border-radius: 50%;
  border: $border;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  background-color: $highlight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  min-width: 50px;
}

.profile_name {
  width: 100%;
  height: 50px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @include respond-to("xsmall") {
    text-align: left;
    width: auto;
    padding: 5px 0px;
    margin-left: 8px;
  }
}

.user_name {
  opacity: 0.6;
  font-style: italic;
}

.more_info_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  @include respond-to("small") {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.info_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1;
  gap: 5px;

  // @include respond-to("small") {
  //   justify-content: flex-end;
  // }
}

.download_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  margin-top: 10px;
  border-top: $border;
  position: relative;
  padding-top: 10px;
  width: 100%;
  gap: 10px;
  height: 100%;

  &:before {
    content: "DOWNLOADS";
    position: absolute;
    white-space: nowrap;
    top: 0px;
    left: 0px;
    transform: translateY(-75%);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
    padding: 0px 3px;
    font-size: 10px;
    opacity: 1;
    background-color: white;
    color: #303030;
  }
}

.download_button {
  width: 100%;
  background-color: $highlight-dark;
  padding: 10px;
  min-height: 40px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  min-width: 50px;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "FT88 Gothic";

  &:hover {
    transform: scale(0.95);
    background-color: $highlight;
    color: black;
  }
}

.sticky_header {
  position: sticky;
  width: 100%;
  padding: 10px;
  top: calc(var(--header-height) + var(--notice-bar-height));
  left: 0;
  margin-bottom: -30px;
  height: 30px;
  pointer-events: all;
  z-index: 2;

  @include respond-to("small") {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }
}

.sticky_button {
  background-color: white;
  // border: $border;
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border: $border;
  border-top: none;
  border-left: none;
  padding: 5px 10px;
  padding-bottom: 3px;
  position: absolute;
  top: 0;
  left: 1px;
  // top: 5px;
  // left: 5px;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  letter-spacing: -1px;
  // font-family: "FT88 Gothic";
  color: #404040;
  font-size: 16px;

  &:hover {
    transform: scale(1.05);
  }
}

.sticky_button_right {
  left: unset;
  border-left: $border;
  border-right: none;
  right: 1px;
}

.inner_image {
  object-fit: cover;
  object-position: top center;
}

.loading_indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-style: italic;
  color: #707070;
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &[class~="exit-active"] {
    pointer-events: none;
    opacity: 0;
  }

  &[class~="exit-done"] {
    pointer-events: none;
    opacity: 0;
  }
}

.divider {
  width: 100%;
  height: 14px;
  background-color: $background;
  border-bottom: $border;
  // opacity: 0.5;
  position: relative;
  overflow: hidden;

  @include respond-to("small") {
    display: none;
    width: 15px;
    height: 100%;
    border-bottom: none;
    border-left: $border;
    writing-mode: vertical-lr;
  }

  &:after {
    content: "୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧ ୭ ˚○◦˚˚◦○˚ ୧";
    white-space: nowrap;
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
